*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
} 
img {
    max-width: 100%;
}


/* INDEX */
header {
    background-color: #FFB100;
    width: 100%; 
    z-index: 1;
} 

h1{
    text-align: center;
    color: white;
}
.formato{
    color: white;
    font-size: 2rem;
}
.logo{
    width: 10rem;
}

#body{
    display: grid;
    grid-template-areas: 
    "header"
    "titulo"
    "intro"
    "footer";
    grid-template-columns: repeat(1,1fr);
    background-image: url("../img/fondopantalla2023.png");
}

#header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
    #header{
        flex-direction: row;
    }
}

#titulo h2{
    grid-area: titulo;
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

#intro{
    grid-area: intro;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}

.intro-hijo{
    background-color: #FFB100;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem;
    border-radius: 5%;
}
.intro-hijo img{
    height: 25rem;
    border-radius: 70%;
}

.intro-hijo p{
    font-size: 1.5rem;
} 

.ajuste{
    width: 30rem;
}

h2{
    font-size: 4rem;
}

@media screen and (min-width: 768px) {
    .intro-hijo{
        flex-direction: row;
    }
    .reverse{
        flex-direction: row-reverse;
    } 
}

@media screen and (min-width: 1024px){
    #intro{
        flex-direction: row;
    }
    .intro-hijo{
        flex-direction: column;
        padding: 10px;
    }

} 

#footer{
    grid-area: footer;
}

#footer strong{
    font-size: 1.5rem;
}
#footer img{
    width: 3rem;
}


/* PRODUCTOS */
.card{
    background-color: #FFB100;
}

.conteiner-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
}

@media screen and (max-width: 768px){
    .conteiner-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 992px){
    .conteiner-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

.container-opciones{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.container-opciones label{
    cursor: pointer;
    background-color: #FFB100;
    padding: 5px 10px;
    border-radius: 15%;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#arroz,
#tallarines,
#platos_especiales,
#todos{
     display: none;
}

.card-arroz,
.card-fideos,
.card-pespecial{
    display: none;
}

#arroz:checked ~ .conteiner-cards .card-arroz,
#tallarines:checked ~ .conteiner-cards .card-fideos,
#platos_especiales:checked ~ .conteiner-cards .card-pespecial{
    display: flex;
}

#todos:checked ~ .conteiner-cards .card-arroz,
#todos:checked ~ .conteiner-cards .card-fideos,
#todos:checked ~ .conteiner-cards .card-pespecial{
    display: flex;
}





/* CONTACTO */
.titulo{
    color: black;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
form{
  padding: 70px;
  max-width: 600px;
  background-color: #FFB100;
  margin: 0 auto;
  padding-right: 120px;
  font-size: 2rem;
}

form input{
  margin-bottom: 10px;
  margin-right: 100px;
  width: 120%;
  padding: 5px;
  box-sizing: border-box; 
  font-size: 1rem;
}
form textarea{
    margin-bottom: 10px;
    width: 120%;
    padding: 20px;
    box-sizing: border-box; 
}

form button {
	display: block;
	padding: 20px 65px 20px 65px;
	font-size: 1rem; 
}



/* SOBRE NOSOTROS */
#descripciones{
    background-color: #FFB100;
    margin: 5rem;
    border-radius: 30%;
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}
.textos-hijos{
    text-align: center;
}
.textos-hijos p{
    font-size: 1.5rem;
}
@media screen and (min-width: 768px){
    .textos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}
@media screen and (min-width: 1024px){
    .textos{
        grid-template-columns: repeat(3, 1fr);
    }
}

.imagen{
    display: flex;
    justify-content: center;
}


/* UBICACION */
.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}